{% extends 'main/base1.html' %}
{% load static %}

{% block title %}
О проекте
{% endblock %}
{% block content %}
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="240" height="50" src="{% static '/main/images/miit.jpg' %}">
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/learning" class="nav-link">Модель</a></li>
          <li class="nav-item"><a href="/model" class="nav-link">Результаты</a></li>
        <li class="nav-item"><a href="/about" class="nav-link active">О проекте</a></li>
      </ul>
    </header>

<h4 style="font:italic 30px bold "Times New Roman", Times, serif">Название проекта: Создание приложения автоматизированной классификации входящей корреспонденции ЦФТО с целью роботизации рутинных операций распределения входящих документов по ответственным исполнителям.
Формулировка инженерной проблемы
Одной из задач Центра фирменного транспортного обслуживания – филиала ОАО «РЖД» (ЦФТО) является оперативное распределение специалистами по делопроизводству входящей корреспонденции, обращений клиентов используя автоматизированную систему документооборота.
В данный момент, в ОАО «РЖД» внедряется технология автоматизации рутинных операций при помощи программной роботизации (RPA). Распределение входящей корреспонденции и обращений является рутинной операцией, требующей для исполнения знания и опыт специалистов, умеющих хорошо классифицировать входящие документы. Для того, чтобы программные роботы при выполнении алгоритма рутинной операции могли правильно направлять по маршруту обработки входящий документ, необходимо применение машинного обучения моделей обработки естественного языка с учителем с последующей разработкой программного модуля, выполняющий классификацию писем по признакам – внешнее обращение в ЦФТО, внутреннее обращение от подразделений компании.
 Для выполнения автоматизированной классификации необходимо сформировать приложение с обученным алгоритмом обработки русского языка, позволяющее принять от программного робота документ на входе, произвести необходимую обработку текста и на выходе отобразить классификационный признак документа, по которому программный робот далее будет выполнять операции  по направлению документа в автоматизированной системе документооборота нужным исполнителям. Необходимо реализовать:
подготовку входящей корреспонденции в форматах pdf, doc;
формирование датасета входящей корреспонденции, разметка классификационными признаками;
обучение программной модели по заранее размеченному классификационными признаками датасету писем;
интерфейс управления загрузкой текста входящих обращений;
интерфейс отображения классификационного признака входящего документа;
интерфейс отображения ошибок по результатам обработки входящего текста;
интерфейс отображения величины процента правильной классификации документов по результатам тестирования модели машинного обучения.

</h4>
{% endblock %}
