
<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
  <link rel="shortcut icon" href="{%  static '/main/images/favicon.ico' %}">
  <link rel="stylesheet" href="{%  static '/main/bootstrap/css/bootstrap.min.css' %}" >
  <!-- Bootstrap JS + Popper JS -->
  <script defer src="{%  static '/main/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
        <style>
        body {
            text-align: center;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Chart js-->
    <link rel="stylesheet" href="{% static '/main/css/Chart.min.css' %}"/>
    <!-- jQuery -->
    <title>Text-Editor/IDE Charts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="{% static '/main/js/jquery.min.js' %}"></script>
    <script src="{% static '/main/js/chart.js' %}"></script>
    <link rel="stylesheet" href="{% static '/main/css/button.css' %}">
    <link rel="stylesheet" href="{% static '/main/css/file.css' %}">
    <script src = "{% static '/main/js/chart.min.js' %}"></script>
    <link rel="stylesheet"  href="{%  static '/main/css/font-awesome.min.css' %}">

</head>
<body>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>