<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/style.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="padding: 20px;" class="pic">
        <img src="pictures/1603630.png"width="300px" alt="">
    </div>


    <div>
        <input type="text" placeholder="Поле ввода">
        <output name="результат"></output>
    </div>


    <div style="padding: 20px;" class="btn_container">
        <button onClick="ClickFunction()">отправить</button>
        <button onClick="ClickFunction()">переобучить</button>

    </div>



</body>
</html>